body {
  font-family: Arial;
  background: #f4f7fb;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
}

h1 {
  color: #1a73e8;
}

.sub {
  color: #666;
}

.form input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #1a73e8;
  color: white;
  padding: 12px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.card {
  background: #f1f5ff;
  padding: 15px;
  margin-top: 10px;
  border-radius: 8px;
}
